.logo{
    margin: 2rem 2rem;
    font-size: 1.25rem;
    width: 9.4rem;
    color: rgb(148, 145, 145);
}

@media (max-width: 27rem){
    .logo{
        font-size: 1rem;
    }
}

.made{
    margin-top: 3.25rem;
    text-align: center;
}

.made .fa-heart-o{
    color: red;
}